<header class="container">
  <nav>
    <ul>
      <li><strong>Angular Testing</strong></li>
    </ul>
    <ul>
      <li><a routerLink="/" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/products" routerLinkActive="active">Products</a></li>
      <li><a routerLink="/pico-previews" routerLinkActive="active">Pico Preview</a></li>
      <li><button type="button" (click)="toggleTheme()">
        <i class="fa-regular"
           [ngClass]="{
            'fa-sun': actualTheme === 'dark',
            'fa-moon': actualTheme === 'light'
           }"></i>
      </button></li>
    </ul>
  </nav>
</header>
<main class="container">
  <router-outlet></router-outlet>
</main>
